:root {
 --background: #F8F6F4;
 --card: #FFFFFF;
 --pink-primary: #E88BA5;
 --pink-light: #FDE3E6;
 --red: #ea6169;
 --cream: #F7F1EB;
 --text-primary: #3D3D3D;
 --text-secondary: #7A7A7A;
 --border: #EFE6E0;
 --green: #E2ECE1;
 --yellow: #FEEBD6;
 --purple: #F0E8F5;
 --gray: #c5d8e6;
 --blue: #021F3D;
 --grid-spacing: 1.5rem;
 --font-heading: 'Cormorant Garamond', serif;
 --font-body: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ***FIND DIFFERENT FONTS***
h1,
h2,
h3,
.sectionHeader {
    font-family: var(--font-heading);
}

body,
p,
span,
a,
h4{
    font-family: var(--font-body);
} */

body {
    min-height: 100vh;
}

a {
    color: var(--pink-primary);
    text-decoration: none;
}

.main-content {
    display: flex;
    background-color: var(--background);
    min-height: 100vh;
}

.sidebar {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 300px;
    border-right: 3px solid var(--border);
}

.dashboard-main {
    flex: 1;
    padding: 2rem;
}

.logo-main {
    width: 300px;
    height: auto;
}

.logo-arch {
    width: 300px;
    height: auto;
}

.sidebar-nav {
}

.sidebar-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: .5rem;
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.header-functions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-content{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--grid-spacing);
    align-items: start;
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.left-column {
    grid-column: 1 / 7;
}

.right-column {
    grid-column: 7 / 9;
}


.statsOverview {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--grid-spacing);
    grid-column: 1 / -1;
}

.statsCard {
    grid-column: span 2;
}


.recentQuoteRequests {
    grid-column: 1 / 7;
    display: flex;
    flex-direction: column;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.sectionHeader img{
    width: 30px;
    height: 30px;
}

.sectionTitle {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.upcomingEvents {
    grid-column: 7 / 9;
}

.paymentsOverview {
    grid-column: 7 / 9;
}

.recentMessages {
    grid-column: 1 / 7;
}

.card {
    background-color: var(--card);
    border-radius: 16px;
    padding: 1rem;
    border: 1px solid var(--border);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.card.recentQuoteRequests {
    padding: 1rem 1rem 0 1rem;
}

.card.upcomingEvents {
    padding: 1rem 1rem 0 1rem;
}

.cardRow {
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
    border-top: 1px solid var(--border);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.infoStack {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: large;
    img {
        width: 18px;
        height: 18px;
    }
}

.quoteRequests {
    max-height: 400px;
    overflow-y: auto;
    /* this is to limit to 3 quotes - will remove later when javascript and database is implemented */
}

.quoteCard {
    grid-template-columns: 140px 220px minmax(0, 1fr) 150px;
    gap: 1.5rem;
    align-items: center;
}
.quoteImage {
    img{
    width: 128px;
    height: 96px;
    border-radius: 10%;
    }
}
.quoteInfo { 
    h3{
        color: var(--pink-primary);
    }
}

.quoteStatus {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.quoteStatus .status{
    color: var(--pink-primary);
}

.quote {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.label {
    font-size: .85rem;
}

.eventCard {
    grid-template-columns: 60px minmax(0, 1fr) 100px;
    gap: .8rem;
    align-items: center;
}

.eventStatus {
    justify-self: end;
}
.eventStatus .status{
    color: var(--blue);
}
.paymentRow {

}
.messageCard {

}

.date,
.location {
   display: grid;
   grid-template-columns: 22px auto;
   align-items: center;
   column-gap: .5rem;
}
.date::before,
.location::before {
   content: "";
   width: 18px;
   height: 18px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}
.date::before {
   background-image: url("Images/Calendar Icon.svg");
}
.location::before {
   background-image: url("Images/location marker Icon.svg");
}

.iconBubble {
    width: 72px;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.iconPill {
    padding: .4rem 1.2rem;
    width: fit-content;
    height: 28px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9999px;

    font-size: .9rem;
    font-weight: 600;
}

.dateBubble {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    border-radius: 15%;
    padding: .5rem;
}

span.month {
    color: var(--red);
}

strong.day {
    font-size: 2rem;
    line-height: 1;
}

.statsCard img {
    width: 36px;
    height: 36px;
}

.card.statsCard {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.statsCardInfo {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.statsCardInfo span {
    font-size: 2rem;
    font-weight: 600;
}

.statsCardInfo p {
    font-size: .80rem;
    font-weight: 500;
    color: gray;
}

.sidebar-nav > ul {

    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    justify-content: center;

    img {
        width: 32px;
        height: 32px;
    }

}

.pink {
    background-color: var(--pink-light);
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.purple {
    background-color: var(--purple);
}

.gray {
    background-color: var(--gray);
}

.red {
    background-color: var(--red);
}
