:root {
 --background: #F8F6F4;
 --card: #FFFFFF;
 --pink-primary: #E88BA5;
 --pink-light: #FDE3E6;
 --cream: #F7F1EB;
 --text-primary: #3D3D3D;
 --text-secondary: #7A7A7A;
 --border: #EFE6E0;
 --green: #E2ECE1;
 --yellow: #FEEBD6;
 --purple: #F0E8F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

a {
    color: var(--pink-primary);
    text-decoration: none;
}

.main-content {
    display: flex;
    background-color: var(--background);
    min-height: 100vh;
}

.sidebar {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 300px;
    border-right: 3px solid var(--border);
}

.dashboard-main {
    flex: 1;
    padding: 2rem;
}

.logo-main {
    width: 300px;
    height: auto;
}

.logo-arch {
    width: 300px;
    height: auto;
}

.sidebar-nav {
}

.sidebar-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: .5rem;
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.header-functions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-content{
    display: grid;
    grid-template-columns: 2.7fr 1.3fr;
    gap: 1rem;
}

.statsOverview {
    display: grid;
    grid-template-columns: repeat(3, .87fr) 1.3fr;
    gap: 1rem;
    grid-column: 1 / -1;
}

.recentQuoteRequests {
    grid-column: 1 / 1;
    display: flex;
    flex-direction: column;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
}
.sectionHeader img{
    width: 30px;
    height: 30px;
}

.sectionTitle {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.upcomingEvents {
    grid-column: 2 / 2;
}

.paymentsOverview {
    grid-column: 2 / 2;
}

.recentMessages {
    grid-column: 1 / 1;
}

.card {
    background-color: var(--card);
    border-radius: 16px;
    padding: 1rem;
    border: 1px solid var(--border);
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.cardRow {
    display: flex;
    border-top: 1px solid var(--border);
    justify-content: space-between;
}

.iconBubble {
    width: 72px;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}

.statsCard img {
    width: 36px;
    height: 36px;
}

.card.statsCard {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.statsCardInfo {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.statsCardInfo span {
    font-size: 2rem;
    font-weight: 600;
}

.statsCardInfo p {
    font-size: .80rem;
    font-weight: 500;
    color: gray;
}

.sidebar-nav > ul {

    display: grid;
    grid-template-rows: 1fr;
    gap: 2rem;
    justify-content: center;

    img {
        width: 32px;
        height: 32px;
    }

}

.pink {
    background-color: var(--pink-light);
}

.yellow {
    background-color: var(--yellow);
}

.green {
    background-color: var(--green);
}

.purple {
    background-color: var(--purple);
}